.accordion__content {
  margin: 0 3em 3em;
  padding: 2em 0;

  @include tablets {
    width: 800px;
    margin: 1em auto 6em;
  }
  @include computers {
    width: 80%;
    margin: 3em auto 8em;
  }
  .h2-title,
  .uk-accordion-title,
  p {
    padding: 0.5em 0;
    line-height: 19px;
  }
  .h2-title {
    font-weight: bold;
    line-height: 1.5em;
  }
  .uk-accordion-title {
    padding: 0;
    margin: 0 auto;
    font-size: $body-xl;
    color: $color-green-dark;
    text-align: center;
    width: 100%;
    @include tablets {
      width: 700px;
    }
    @include computers {
      width: 500px;
    }
  }
  .h3-title {
    font-size: $body-xl;
  }
  h4 {
    padding-top: 0;
    margin-top: 0;
  }
  h4 > strong {
    color: $color-green-dark;
  }
  p > span,
  p > strong {
    color: $color-green-regular;
  }
  strong {
    font-weight: 300;
  }
  em {
    font-style: italic;
    color: inherit;
  }
  li {
    box-shadow: 3px 5px 3px 3px rgba(0, 110, 120, 0.1);
    padding: 25px;
  }
  .uk-accordion-title::before {
    background-image: none;
    content: "+";
    font-size: 2em;
    font-weight: 300;
    height: 12px;
    border: none;
  }

  .uk-open {
    .uk-accordion-title::before {
      content: "+";
      font-size: 2em;
      font-weight: 300;
      height: 15px;
      border: none;
    }
  }
}
