.blog-cards {
  margin: 4em auto 6em;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  width: 98%;
  @include tablets {
    width: 700px;
  }
  @include computers {
    width: 950px;
  }
  .row {
    @include flexbox;
  }
  &--title {
    @include tablets {
      margin: 0;
      margin-bottom: 1em;
    }
    margin-bottom: 1em;
    font-size: $heading;
  }
  .card {
    margin: 0 2em;
    height: 350px;
    overflow: hidden;
    @include tablets {
      height: 350px;
      margin: 0;
      width: 250px;
      &--smaller {
        width: 450px;
      }
    }
    @include computers {
      margin: 0;
      width: 350px;
      &--smaller {
        width: 600px;
      }
    }

    &-image {
      position: relative;
      img {
        width: 600px;
        height: 350px;
        object-fit: cover;
        @include tablets {
          height: 350px;
          border-radius: 0;
        }
      }
      &:hover img {
        transform: scale(1.1);
        transition: 0.5s;
      }
    }
    &-title {
      margin: 0;
      position: absolute;
      bottom: 10px;
      left: 10px;
      font-size: $subheading;
      font-weight: 300;
      color: $white;
    }
  }
}