.normal-button {
  border: 1px solid $grey;
  border-radius: 3px;
  color: $color-green-dark;
  background-color: $white;
  font-size: $body;
  padding: 0.5em 2em;
  &:hover {
    color: $white;
    background-color: $color-green-dark;
    transition: ease-in $duration-medium;
  }
}

.special-button {
  color: $white;
  background-color: $color-green-dark;
  &:hover {
    color: $color-green-dark;
    background-color: $white;
  }
}

.carousel-button {
  border-radius: 0;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  border: none;
}

a.margin-button {
  padding: 1em 2em;
}

// scroll button
#indiceBtn {
  outline: none;
  cursor: pointer;
  color: $color-green-dark;
  text-decoration: none;
  &:hover {
    color: $color-green-regular;
  }
  > svg {
    width: 50px;
    height: 50px;
  }
}
