 

// CAROUSEL HEADER - SMALL TEXT
.slick-carousel-small__block {
  position: relative;
  max-width: 80%;
  margin: 0 auto;
  height: 170px;
  bottom: 85px;
  background-color: $color-green-dark;
  @include computers {
    max-width: 90%;
    height: 130px;
    bottom: 65px;
  }
}
.slick-carousel-small__title {
  position: absolute;
  background: $color-green-dark;
  color: $white;
  width: 100%;
  height: 50px;
  font-weight: bold;
  top: 0;
  display: flex;
  font-size: $body;
  justify-content: center;
  align-items: center;
  padding: 1.8em;
  padding-bottom: 0;
  @include tablets {
    font-size: $subheading;
    height: 45px;
  }
}
.slick-carousel-small {
  position: absolute;
  background: none;
  top: 49px;
  width: 100%;
  background: $color-green-dark;
  @include computers {
    height: 80px;
    bottom: 0;
  }
  .slick-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $white;
    outline: none;
    height: auto;
    padding: 1em 0;
    background: $color-green-dark;
    @include computers {
      height: 80px;
    }
  }
  > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    p {
      width: 100%;
      padding: 0 10px;
      margin: 0 auto !important;
      line-height: 1.1em;
      font-style: italic;
      font-weight: 300;
      font-size: $body-xs;
      @include computers {
        font-size: 18px;
      }
    }
  }
}
