// HOME PAGE

//CAROUSEL HEADER - BIG IMAGES
.carousel-images {
  .uk-slideshow-items {
    height: calc(100vh - 200px);
    @include TwoK {
       max-height:70vh;
       max-width: 80vw;
       margin: auto;
    }
  }
  img {
    object-fit: cover;
    object-position: 50% 30% ;
    height: 100%;
    width: 100vw;
    filter: brightness(50%);

  }
  .h1-title {
          color: $white;
          text-align: center;
          font-size: 15px;
          @include computers {
            text-align: right;
            font-size: 25px;
            margin: 0 150px;
          }
          @include large-screens {
            margin: 0 200px;
          }
          // margin: 70px 150px;
          @include TwoK {
            margin: 0 400px 300px;
          }
          span {
            font-size: 23px;
            font-weight: bold;
            @include computers {
              font-size: 28px;
            }
          }
        }
}

// CAROUSEL HEADER - SMALL TEXT
.carousel-small {
  background: $color-green-dark;
  // color: $white;
  height: 150px;
  max-width: 80%;
  margin: auto;
  position: relative;
  bottom: 75px;
  @include TwoK {
    max-width: 60%;
  }
  .uk-slideshow-items {
    position: absolute;
    line-height: 1.1em;
    font-style: italic;
    font-weight: 300;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    font-size: 14px;
    @include computers {
      font-size: 20px;
    }
  }
}
