// CAROUSEL HEADER - SMALL TEXT
.slick-carousel-small__block {
 // position: relative;
 // height: 35vh;
 // max-width: 100%;
  margin: 0 auto;
  background: $color-green-regular;
  /*
  @include tablets {
    background: rgb(0, 110, 120);
    background: linear-gradient(
      0deg,
      rgba(0, 110, 120, 0.3841911764705882) 0%,
      rgba(0, 110, 120, 1) 0%,
      rgba(0, 110, 120, 0.4318102240896359) 50%,
      rgba(0, 110, 120, 0) 100%
    );
     
    height: unset;
    bottom: 0;
    // top: calc(100% - 262px);
    //bottom: calc(100% - 500px);
    //top: 0;
    //height: 100vh;
    position: absolute;
  }
  */
  @include TwoK{}
 
}
.slick-carousel-small__position {
  //bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
 // padding-top: 2em;
  //position: relative;
  @include tablets {
    //top: 720px;
  //  height: 100%;
   // bottom: 0;
  }
 
}
.slick-carousel-small__title {
  font-style: none;
  color: $white;
  width: 100%;
  font-weight: bold;
  font-size: 12px;
  padding: 0.2em 1em;
 // text-align: left;
  @include tablets {
    padding: 1.3em 1em;
    font-size: 18px;
    height: 50px;
  }
  @include computers {
   // font-size: 28px;
  }
  @include TwoK{
    width: 54%;
    bottom: 14px;
    position: relative;
  }
}
.slick-carousel-small {
  width: 100%;
  height: 80px;
  @include tablets {
  height: 50px;
  }
  @include computers {
  }
  @include TwoK{
    width: 54%;
    margin: auto;
  }
 
  .slick-slide {
    color: $white;
    outline: none;
    height: auto;
    padding: 0.2em 0;
    @include computers {
    }
    
  }
  > div {
    height: 100%;
    text-align: center;
    position: relative;
    bottom: 5px;
    li {
      text-align: center;
      width: 100%;
      margin: 0 auto !important;
      line-height: 1.2em;
      font-weight: 600;
      font-size: 12px;
      @include tablets{
        font-size: 16px;
      }
      @include computers {
       // font-size: 20px;
      }
      p {

        @include tablets {
          margin-bottom: 10px;
        }
        @include computers {
        //  margin-bottom: 20px;
        }
      }
    }
  }
}
