// HOME PAGE

//CAROUSEL HEADER - BIG IMAGES
.carousel-images {
  // backdrop-filter: brightness(70%);
  background: $color-green-dark;
  @include tablets {
    background: none;
    max-height: 100vh;
    // max-width: 1600px;
    margin: auto;
    //  max-height: unset;
  }
  @include TwoK {
    // max-height: unset;
    max-width: 1600px;
    max-height: 100vh;
    //max-width: 1500px;
  }
  .uk-slideshow-items {
    //height: calc(69vh - 120px);
    @include tablets {
      //  height: calc(111vh - 200px);
      padding-bottom: 56.2%;
    }
  }
  img {
    height: 100% !important;
    width: 100%;
    object-fit: cover;
    object-position: center;
    //object-position: top;
    filter: brightness(90%);
    @include tablets {
      object-fit: cover;
      max-height: 100vh;
      // max-height: unset;
    }
    @include TwoK {
      // max-height: unset;
      max-height: 100vh;
    }
  }
  //   .h1-title {
  //     z-index: 1;
  //     color: $white;
  //     text-align: right;
  //     font-size: 10px;
  //     margin: 100px auto;
  //     @include tablets {
  //       font-size: 18px;
  //       margin: 100px 60px;
  //     }
  //     @include large-screens {
  //       font-size: 25px;
  //       margin: 100px 150px;
  //     }
  //     @include TwoK {
  //       margin: 100px 400px;
  //     }
  //     span {
  //       font-size: 16px;
  //       @include tablets {
  //         font-size: 23px;
  //       }
  //       font-weight: bold;
  //       @include computers {
  //         font-size: 28px;
  //       }
  //     }
  //   }
}

.uk-slidenav-next,
.uk-slidenav-previous {
  z-index: 10;
  color: $color-green-dark !important;
  visibility: hidden;
  @include tablets {
    visibility: visible;
  }
}
