.contact-section {
  position: relative;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  box-shadow: 0 3px 6px 0 darken($color: $grey, $amount: 40%);
  background: $white;
  color: $color-green-dark;
  text-align: center;
  height: auto;
  width: 80vw;
  padding: 2em;
  @include tablets {
    width: 600px;
    padding: 2em 3em;
  }
  .black-text {
    line-height: 1.5em;
    color: black;
    font-size: $body;
  }
  .contact-form-block {
    padding: 1em 0;
  }
  .contact-form__fields {
    @include flexbox;
  }
  .uk-column-1-2\@s .uk-input {
    margin: 0 auto;
    width: 100%;
  }
  .uk-textarea {
    height: 80px;
    resize: none;
    margin: 1em auto;
  }
  .uk-input,
  .uk-textarea {
    border: none;
    border-bottom: 2px solid $color-green-regular;
    color: black;
    &::placeholder {
      color: $color-green-regular;
      font-size: $body-xs;
    }
  }
  .special-button {
    margin: 2em 0 0;
  }
}

.background-top {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 50vh;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.background-bottom {
  position: absolute;
  bottom: 0;
  z-index: -1;
  background: $grey;
  width: 100%;
  height: 50vh;
}

.background-left {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 50vw;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.background-right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  background: $grey;
  width: 50vw;
  height: 100%;
}

/* page contact form error */
div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing {
  border: none;
  color: red;
}

span.wpcf7-not-valid-tip {
  font-size: 0.8em;
}

/* captcha v3 hide */
.grecaptcha-badge { visibility: hidden; }

.formMembers ul {
  padding-left: 0!important;
}

.contact-form .uk-alert-close {
  top: 15px;
}