.contact-section {
  position: relative;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  box-shadow: 0 3px 6px 0 darken($color: $grey, $amount: 40%);
  background: $white;
  color: $color-green-dark;
  text-align: center;
  height: 680px;
  width: 80vw;
  padding: 2em;
  @include tablets {
    height: 590px;
    width: 700px;
    padding: 2em 6em;
  }
  .black-text {
    line-height: 1.5em;
    color: black;
    font-size: $body;
  }
  .contact-form-block {
    padding: 1em 2em;
  }
  .contact-form__fields {
    @include flexbox;
  }
  .uk-column-1-2\@s .uk-input {
    margin: 0 auto;
    width: 100%;
  }
  .uk-textarea {
    height: 140px;
    resize: none;
    margin: 1em auto;
  }
  .uk-input,
  .uk-textarea {
    border: none;
    border-bottom: 2px solid $color-green-regular;
    color: black;
    &::placeholder {
      color: $color-green-regular;
      font-size: $body-xs;
    }
  }
  .special-button {
    margin: 2em 0 0;
  }
}

.contact-form-member {
  height: 600px;
  @include tablets {
    height: 500px;
  }
}

.contact-form-inscription {
  height: 740px;
  padding: 2em 0;
  margin: 0 auto 10em;
  @include tablets {
    height: auto;
    padding: 2em 3.5em;
    margin: 0 auto 5em;
  }
  @include computers {
    width: 850px;
    padding: 2em 5em;
  }
  .uk-textarea {
    height: 80px;
    @include tablets {
      height: 140px;
    }
  }
  .contact-form__fields {
    font-size: $body;
    font-weight: 300;
    color: $color-green-regular;
    option {
      color: $color-green-regular !important;
    }
    .select-button {
      margin: 0 1em;
      padding: 0.3em 0.5em;
      border-radius: 0;
      color: $color-green-regular;
      border: none;
      border-bottom: 2px solid $color-green-regular;
    }
    .file-button {
      color: $color-green-regular;
      text-align: center;
      padding: 0.5em 0;
    }
    label {
      padding: 0 0.5em;
      @include tablets {
        padding: 0.5em;
      }
    }
    .uk-checkbox {
      margin: 0 0.5em;
    }
    > div {
      margin: 1em;
    }
  }
  > .contact-form-block > .contact-form__fields {
    margin: 1.5em auto 0;
    @include tablets {
      margin: 2em auto 0;
    }
  }
}

.background-top {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 50vh;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.background-bottom {
  position: absolute;
  bottom: 0;
  z-index: -1;
  background: $grey;
  width: 100%;
  height: 50vh;
}

.background-left {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 50vw;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.background-right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  background: $grey;
  width: 50vw;
  height: 100%;
}
