#modal-media-image {
  img {
    max-width: 80vw;
    max-height: 80vh;
  }
  &.uk-modal {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .popup-link {
    position: absolute;
    top: 60%;
    left: 28%;
    width: 300px;
    font-size: 2em;
    font-weight: bold;
    color: $white;
    &:hover {
      color: $color-green-dark;
    }
    &::before {
      content: "⮕";
      position: absolute;
      top: 20%;
      left: -15%;
      font-size: 1.2em;
      font-weight: bold;
      color: $white;
    }
  }
}
