#modal-media-image {
  img {
    max-width: 80vw;
    max-height: 80vh;
  }
  &.uk-modal {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .popup-link {
    position: absolute;
    top: 60%;
    left: 28%;
    font-size: 1em;
    width: 150px;
    @include mobiles {
      font-size: 1.5em;
      width: 250px;
    }
    @include tablets {
      font-size: 2em;
      width: 300px;
    }
    font-weight: bold;
    color: $white;
    &:hover {
      color: $color-green-dark;
    }
    &::before {
      content: "\2B95";
      position: absolute;
      top: 20%;
      font-size: 1.2em;
      font-weight: bold;
      color: $white;
      animation: bounce 1s ease infinite;
    }
  }
}
