.message {
  width: 80%;
  margin: 10% auto;
  position: relative;
  background: $grey;
  @include tablets {
    width: 700px;
    margin: 5% auto;
  }
  @include computers {
    width: 1000px;
  }
  .h2-title,
  .h3-title {
    position: absolute;
    top: -12px;
    left: 0;
    right: 0;
    text-align: center;
    @include tablets {
      font-size: 2.5em;
      top: -25px;
    }
  }
  .h3-title {
    top: -30px;
    font-size: $subheading;
    @include tablets {
      top: -25px;
      width: 60%;
    }
  }
  &__content {
    padding: 4em 2em;
    line-height: 1.5em;
  }
  a {
    color: $color-green-regular;
    text-decoration: none;
    &:hover {
      color: $color-green-dark;
    }
  }
}
