// Navbar
@media (max-width: 1000px) {
  .uk-navbar-container .uk-visible {
    display: none;
  }
  .menu-mobile {
    background-color: $white;
    padding: 0 8%;
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 1001px) {
  .uk-navbar-container .uk-visible {
    display: flex;
  }
  .menu-mobile {
    display: none;
  }
}

.uk-navbar-container {
    // position: relative;
  // display: flex;
  // justify-content: center;
  &:not(.uk-navbar-transparent) {
    background-color: $white;
  }
}

.uk-navbar-nav > li > a {
  font-family: "Roboto";
  font-style: italic;
  text-transform: none;
  color: $color-green-dark;
}

/* flags */
img.trp-flag-image {
  width: 28px;
  margin: 0 0.1em;
}

.uk-navbar-nav{
  margin: 0 2em;
}

.uk-navbar-nav .flag {
  display: flex;
  align-items: center;
  img {
    height: 14px;
    margin: 0 0.1em;
  }
}

/* DropDown */
.uk-navbar-dropdown-nav {
  display: flex;
  width: 100vw;
  a {
    text-decoration: none;
    color: $color-green-dark;
    margin-right: 0.5em;
    font-size: $body;
    font-style: italic;
    font-weight: 300;
  }
}


.uk-navbar-dropdown-dropbar {
  height: 75px;
  border-top: 1px solid $color-green-dark;
  &::before {
    content: "";
    position: absolute;
    bottom: 66px;
    left: 35px;
    background: $white;
    border: solid $color-green-dark;
    border-width: 1px 1px 0 0;
    height: 15px;
    width: 15px;
    transform: rotate(135deg);
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 74px;
    left: -1000px;
    background: $color-green-dark;
    height: 1px;
    width: 3000px;
    z-index: -1;
  }
}  

// SIDENAV
.uk-offcanvas-bar a,
.uk-offcanvas-bar .uk-offcanvas-close {
  color: $color-green-dark;
  &:hover {
    color: $grey;
  }
}
.uk-nav {
  .flag {
    width: 65px;
    display: flex;
    margin: 0;
    top: 0;
    left: 40px;
    li {
      margin: 0 0.1em;
    }
  }
  .uk-navbar-dropdown-nav {
    display: block;
  }
}
.uk-offcanvas-bar {
  left: -300px;
  width: 300px;
  padding: 30px 40px;
}


// ______________________________________________________

// NAVBAR EVENTS

.navbar-events a {
  text-decoration: none;
  color: $color-green-regular;
  margin-right: 0.5em;
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
  text-transform: uppercase !important;
}