// Navbar
@media (max-width: 1295px) {
  .uk-navbar-container .uk-visible {
    display: none;
  }
  .menu-mobile {
    background-color: $white;
    padding: 0 8%;
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 1296px) {
  .uk-navbar-container .uk-visible {
    display: flex;
    height: 100px;
  }
  .menu-mobile {
    display: none;
  }
}

.uk-navbar-container {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  // visibility: hidden;
  &:not(.uk-navbar-transparent) {
    background-color: $white;
  }
}

.uk-navbar-nav > li > a {
  font-family: "Roboto";
 // font-style: italic;
  text-transform: none;
  font-weight: 600;
  color: $color-green-dark;
}

/* flags */
img.trp-flag-image {
  width: 28px;
  margin: 0 0.1em;
}

.uk-navbar-nav {
  margin: 0 2em;
}

.uk-navbar-nav .flag {
  display: flex;
  align-items: center;
  img {
    height: 14px;
    margin: 0 0.1em;
  }
}

/* DropDown */
// CENTRALIZE 2 LAST DROPDOWN
.uk-navbar-nav:nth-of-type(2) li:nth-of-type(4) .uk-navbar-dropdown-nav {
  right: 120px;
}
.uk-navbar-nav:nth-of-type(2) li:nth-of-type(6) .uk-navbar-dropdown-nav {
  right: 250px;
}

.uk-navbar-nav:nth-of-type(2) li:nth-of-type(8) .uk-navbar-dropdown-nav {
  right: 150px;
}

 

.uk-navbar-dropdown-nav {
  display: flex;
  width: 100vw;
  position: relative;
  li {
    a {
      color: $color-green-dark;
      margin-right: 0.5em;
    //  font-size:13px;
      // font-style: italic;
      //font-weight: 600;
      margin: 0 18px;
    }
  }
}

.uk-navbar-dropdown-dropbar {
  height: 75px;
  border-top: 1px solid $color-green-dark;
  &::before {
    content: "";
    position: absolute;
    bottom: 66px;
    left: 35px;
    background: $white;
    border: solid $color-green-dark;
    border-width: 1px 1px 0 0;
    height: 15px;
    width: 15px;
    transform: rotate(135deg);
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 74px;
    left: -1140px;
    background: $color-green-dark;
    height: 1px;
    width: 3000px;
    z-index: -1;
  }
}

// SIDENAV
.sidenav{
     @include computers {
      //display: none;
    }
}
.uk-offcanvas-bar {
  overflow-x: hidden;
  padding: 0;
  left: -300px;
  width: 300px;
  // @include tablets {
  //  left: -400px;
  //   width: 400px;
  // }
  // @include computers {
  //   left: -400px;
  //   width: 400px;
  // }
  a {
    font-weight: normal;
    text-align: center;
    //font-style: italic;
  }
  a,
  .uk-offcanvas-close {
    color: $color-green-dark;
    &:hover {
      color: $darkgrey;
    }
  }
}

.uk-nav {
  .flag {
    width: 65px;
    display: flex;
    position: absolute;
    top: 25px;
    left: 50px;
    li {
      margin: 0 0.1em;
    }
  }
  .uk-navbar-dropdown-nav {
    display: block;
    width: auto;
  }
}

.white-block {
  @include flexbox;
  flex-direction: column;
  padding: 0;
  height: 80vh;
  font-size: $body-xs;
  li {
    padding: 0.2em 0;
  }
  @include tablets {
    font-size: $body;
    li {
      padding: 0.3em 0;
    }
  }
}
.sub-menu a {
  font-weight: 300;
}

.green-block {
  width: 100%;
  padding: 2em 1em;
  //background: $color-green-regular;
  position: relative;
  height: 20vh;
  font-size: $body-xs;
  @include tablets {
    font-size: $body;
  }
  ul {
    margin-top: 0;
  }
  li {
    width: 40%;
    padding: 0.2em 0;
    @include tablets {
      padding: 0.5em 0;
      width: 35%;
    }
  }
  a {
    color: $white;
    font-weight: normal;
  }
}
// .green-diagonal {
//   position: absolute;
//   top: -30px;
//   left: 0;
//   width: 0;
//   height: 0;
//   border-bottom: 30px solid $color-green-regular;
//   border-right: 300px solid transparent;
//   @include tablets {
//     border-right: 550px solid transparent;
//   }
//   @include computers {
//     border-right: 645px solid transparent;
//   }
// }

// ______________________________________________________
// Removing Links sidebar

// #menu-item-695 > a, // local 
// #menu-item-699 > a, // local 
#menu-item-1002 > a,
#menu-item-695 > a,
#menu-item-949 > a,
#menu-item-969 > a,
#menu-item-693 > a,
#menu-item-1182 > a  { 
  pointer-events: none; 
  cursor: default;
  padding-left: 16px;
  &:hover {
    color: $color-green-dark;
  }
}
// Links sidebar dropdown
.white-block .sub-menu {
  display: none;
}
.white-block .sub-menu-show {
  display: block;
}