// Navbar
@media (max-width: 1000px) {
  .uk-navbar-container .uk-visible {
    visibility: hidden;
  }
}

.uk-navbar-container {
  padding: 0 3%;
  &:not(.uk-navbar-transparent) {
    background-color: $white;
  }
}

.uk-navbar-nav > li > a {
  font-family: "Roboto";
  font-style: italic;
  text-transform: none;
  color: $color-green-dark;
}

/* DropDown */
.uk-navbar-dropdown-nav {
  display: flex;
  a {
    color: $color-green-dark;
    margin: 0 0.5em;
    font-size: $body;
    font-style: italic;
    font-weight: 300;
  }
}

.uk-navbar-dropbar-slide {
  border-top: 1px solid $color-green-dark;
}

.uk-navbar-dropdown-dropbar.uk-open {
  width: 100vw;
  border-top: 1px solid $color-green-dark;
  &::before {
    content: "";
    position: absolute;
    bottom: 66px;
    left: 40px;
    background: $white;
    border: solid $color-green-dark;
    border-width: 1px 1px 0 0;
    height: 15px;
    width: 15px;
    transform: rotate(135deg);
  }
}

/* flags */
 
  // canvas, img, video {
    
  // }
 img.trp-flag-image{
   width: 40px;
 }
 
.uk-navbar-nav .flag {
  width: 65px;
  display: flex;
  @include computers {
    position: absolute;
    top: 32px;
    right: 15%;
  }
  li {
    margin: 0 0.1em;
  }
}

// SIDENAV
.uk-offcanvas-bar a,
.uk-offcanvas-bar .uk-offcanvas-close {
  color: $color-green-dark;
  &:hover {
    color: $grey;
  }
}
.uk-nav {
  .flag {
    width: 65px;
    display: flex;
    margin: 0;
    top: 0;
    left: 40px;
    li {
      margin: 0 0.1em;
    }
  }
  .uk-navbar-dropdown-nav {
    display: block;
  }
}
.uk-offcanvas-bar {
  left: -300px;
  width: 300px;
  padding: 30px 40px;
}
