.page-login {
  margin: auto;
  font-weight: 600;
  color: $color-green-dark;
  padding: 4em 0;
  p {
    text-align: center;
    font-size: 1.3em;
  }
  .uk-text-danger {
    font-weight: normal;
    text-align: center;
    margin: 0.5em auto;
  }
}

#loginform {
  text-align: center;
  margin: auto;
  padding: 1em 0 0;
  .uk-inline {
    width: 350px;
  }
  .uk-form-icon-flip {
    right: 30px;
    color: $darkgrey;
  }
  .login-username input,
  .login-password input {
    width: 90%;
    padding: 1em;
  }
  input[type="text"],
  input[type="password"] {
    background: $white;
    border: 1px solid $darkgrey;
    &:active,
    &:focus {
      background: $white;
      border: 1px solid $darkgrey;
    }
  }
  .login-submit input {
    border: none;
    color: $white;
    background: $color-green-dark;
    padding: 0.6em;
    cursor: pointer;
    font-weight: 600;
  }
}
