.slick-carousel {
  img {
    object-fit: cover;
    object-position: 30%;
    height: calc(100vh - 210px);
    width: 100vw;
    filter: brightness(50%);
  }
  &__text {
    color: $white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    filter: brightness(100%);
    right: 0;
    left: 0;
    margin: auto;
    h1 {
      width: 95%;
    }
  }
}
