@import url('https://fonts.googleapis.com/css?family=Roboto:100i,300i,400,500i,700&display=swap');

h2{
    font-style: italic;
    font-weight: 200;
    color: $color-green-dark;
    margin: 0 1em ;
    text-transform: uppercase;
}