// Navbar
.uk-navbar-container {
    padding: 0 5%;
    &:not(.uk-navbar-transparent){
        background-color: $white;
    }
}

.uk-navbar-nav > li > a{
    font-family: 'Roboto';
    font-style: italic; 
    text-transform: none;  
    color: $color-green-dark;
}

/* DropDown */ 
.uk-navbar-dropdown-nav li{
    font-style: italic;
    font-weight: 200;
    font-size: 14px;
    a{
         color:$color-green-dark; 
    }
  
}

.subnav{
    display: flex;
    width: 800px;
    a{
        margin: 0 0.5em;
        font-size: 14px;
      
    }
}

.uk-navbar-center .uk-navbar-nav {
    position: relative;
}
/* flags */
.flag {
    width: 65px;
    display: flex;
    position: absolute;
    right: -30%;
    top: 32px;
    li{
        margin: 0 0.1em; 
    }
}
.uk-nav {
    .flag {
        margin: 0;
        top: 20px;
        left: 40px;
    }
}

// SIDENAV

.uk-offcanvas-bar a,
.uk-offcanvas-bar .uk-offcanvas-close {
    color: $color-green-dark;
    &:hover {
        color: $grey;
    }
}



@media (max-width: 850px) {
    .uk-navbar-container .uk-visible {
        visibility: hidden;
    }
}