.board__content {
  margin: 0 auto 4em;
  @include mobiles {
    width: 480px;
  }
  @include tablets {
    width: 600px;
  }
  @include computers {
    margin: 0 auto 8em;
    width: 1000px;
  }
  .h2-title {
    padding: 2em;
    padding-top: 3.5em;
  }
  a {
    color: black;
    text-decoration: none;
  }
  .uk-grid {
    justify-content: center;
    margin: 0 auto;
  }
  .uk-grid > * {
    padding-left: 0;
  }
  .uk-card {
    border-radius: 3px;
    margin: 2em 1em;
    width: 175px;
    height: 200px;
  }
  .uk-card-header {
    border-radius: 3px 3px 0 0;
    height: 100px;
    background: $color-green-dark;
    position: relative;
  }
  .uk-border-circle {
    height: 115px;
    width: 130px;
    border-radius: 10px;
    object-fit: cover;
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .uk-card-body {
    padding: 1em 0.5em;
    > * {
      text-align: center;
      font-size: $body;
    }
    .h3-title {
      margin: 0;
      padding: 0;
      font-size: $body-xl;
    }
  }
}