.congress__content {
  margin: 0 auto 4em;
  @include computers {
    margin: 0 auto 8em;
    width: 1000px;
  }
  .h2-title {
    padding: 2em;
  }
  a {
    color: $color-green-regular;
    text-decoration: none;
    &:hover {
      color: $color-green-dark;
    }
  }
  .uk-grid {
    justify-content: center;
    margin: 0 auto;
  }
  .uk-grid > * {
    padding-left: 0;
  }
  .uk-card-default {
    border: 2px solid $color-green-dark;
    margin: 0.5em 1em;
    width: 300px;
    height: 250px;
    padding: 1.5em;
    text-align: center;
    .h3-title {
      font-size: $body;
      text-align: center;
    }

    .uk-card-header {
      border: none;
      padding-left: 0;
      padding-right: 0;
    }
    .uk-card-body {
      padding: 0;
    }
    p {
      padding: 1em 0;
    }
  }
}