.law__content {
  margin: 0 3em 3em;
  padding: 2em 0;
  @include tablets {
    width: 600px;
    margin: 1em auto 6em;
  }
  @include computers {
    width: 900px;
    margin: 3em auto 8em;
  }
  .h2-title,
  .h3-title,
  p {
    padding: 0.5em 0;
  }
  .h3-title {
    text-align: center;
  }
  .uk-accordion-title {
    width: 400px;
    margin: 0 auto;
  }
  // .uk-accordion-title::before {
  //   color: $color-green-dark;
  //   background-image: url("../../images/icons/chevron-down.svg");
  // }
  // .uk-open {
  //   .uk-accordion-title::before {
  //     background-image: url("../../images/icons/chevron-up.svg");
  //   }
  // }
}
