.footer-nav {
  background-color: $color-green-dark;
  text-align: center;
  color: $white;
  &__title {
    font-size: 20px;
    color: $white;
    font-style: italic;
    font-weight: 200;
    margin: 1em;
  }
  &__button {
    border: none;
    width: 140px;
    height: 42px;
    background-color: $white;
     color: $white;
    a {
      color: $color-green-dark;
      font-size: 14px;
    }
    &:hover {
      background-color: $color-green-regular;
      transition: ease-in $duration-medium;
      a {
        color: white;
        text-decoration: none;
      }    
    }
  }
  .uk-navbar {
    background-color: $color-green-regular;
    margin: 30px auto;
    a {  
      color: $white;
      &:hover {
        color: $color-green-dark;
      }
    }
  }
  &__link {
    color: $white;
  }

  &__contact {
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
  }
 

  &__logo img {
    width: 140px;
  }
}
.footer-mentions {
  height: 40px;
  font-size: 12px;
  background-color: $white;
  color: $color-green-dark;
  text-align: center;
  margin: 0.8em auto;
  align-items: center;
}
