@import url("https://fonts.googleapis.com/css?family=Roboto:100i,300i,400,500i,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-size: $body;
  font-family: $body-font-regular;
  overflow-x: hidden;
  visibility: hidden;
}

a:hover {
  text-decoration: none;
}

.h1-title {
  color: $color-green-dark;
  font-size: $headline;
  font-style: italic;
  font-weight: 200;
  //text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
}
.title-banner {
  @include computers {
    position: relative;
    bottom: 380px;
  }
}
h2 {
  color: $color-green-dark;
  margin: 0 1em;
}
.h2-title,
h2 {
  font-size: $heading;
  // font-style: italic;
  font-weight: 500;
  // text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
}
.h3-title,
h3 {
  color: $color-green-dark;
  font-size: $subheading;
  margin: 0 auto;
  text-align: left;
  //  font-style: italic;
  font-weight: 300;
}

/* Parceiros buttons */
.general-button {
  width: 140px;
  height: 42px;
  background-color: $color-green-dark;
  border: none;
  color: $white;
  &:hover {
    background-color: $white;
    color: $color-green-dark;
    border: solid $color-green-dark 1px;
  }
}

.wrap {
  margin: 0 auto;
  width: 100%;
  height: 0;
  padding-top: 55%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  background: #00a4e3;
  &--event{
    background: #d8d1c7;
  }
  @include TwoK {
    padding-top: 1120px;
  }
}
.mockup,
.mockup:after {
  position: absolute;
  top: 0;
}
.mockup__img {
  display: block;
  width: 2000px;
  max-width: 100%;
  max-height: 100%;
}
.faixatopo {
  overflow: hidden;
  position: absolute;
  z-index: 200;
  top: 0;
  left: 0;
  outline: 1px solid transparent;
  transform-origin: 0 0 0;
}

#wrap .pulse {
  z-index: 300;
  animation: pulse ease 1.5s infinite;
}

#wrap .tobottomtop {
  z-index: 300;
  animation: toptobottom ease 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.5) translate(-643.05, -724.55);
    fill: rgba($color-green-dark, 1);
  }
  50% {
    transform: scale(0.8) translate(-643, 2, -724.52);
    fill: rgba($color-green-dark, 0.5);
  }
  100% {
    transform: scale(1) translate(0, 0);
    fill: rgba($color-green-dark, 0.2);
  }
}

@keyframes toptobottom {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}
