@import url("https://fonts.googleapis.com/css?family=Roboto:100i,300i,400,500i,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-size: $body;
  font-family: $body-font-regular;
  overflow-x: hidden;
  visibility: hidden;
}

a:hover {
  text-decoration: none;
}

.h1-title {
  color: $color-green-dark;
  font-size: $headline;
  font-style: italic;
  font-weight: 200;
  //text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
}
.title-banner{
  @include computers{
    position: relative;
    bottom: 380px;
  }
}
h2 {
  color: $color-green-dark;
  margin: 0 1em;
}
.h2-title,
h2 {
  color: $color-green-regular;
  font-size: $heading;
  // font-style: italic;
  font-weight: 200;
  // text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
}
.h3-title,
h3 {
  color: $color-green-dark;
  font-size: $subheading;
  margin: 0 auto;
  text-align: left;
  font-style: italic;
  font-weight: 300;
}

/* Parceiros buttons */
 .general-button{
  width: 140px;
  height: 42px;
  background-color: $color-green-dark;
  border: none;
  color: $white;
  &:hover{
    background-color: $white;
    color: $color-green-dark;
    border: solid $color-green-dark 1px;
  }
 }
 