.articles-cards {
  margin: 0 4em 3em;
  padding: 2em 0;
  @include computers {
    width: 900px;
    margin: 3em auto 8em;
  }
  .h2-title {
    padding: 2em;
    font-size: 36px;
  }
  .uk-card {
    overflow: hidden;
    &:hover img {
      transform: scale(1.1);
      transition: 0.5s;
    }
  }
  .uk-card-media-top {
    overflow: hidden;
  }
  a {
    color: black;
    text-decoration: none;
  }
  .uk-grid {
    margin-left: 0;
  }
  .uk-card-default {
    box-shadow: none;
  }
  .uk-grid > * {
    padding-left: 0;
  }
  .uk-child-width-1-1 {
    .uk-card {
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      overflow: hidden;
      &:hover {
        background-size: 120%;
        transition: 0.5s;
      }
    }
    .uk-card-body {
      height: 230px;
      color: $white;
      .uk-card-title {
        color: $white;
        @include tablets {
          padding-top: 5em;
        }
      }
    }
  }
  .uk-card-media-top img {
    height: 130px;
    width: 100%;
    object-fit: cover;
  }
}

