.diplom__content {
  .diplom__research {
    padding: 2em 0 1em;
  }
  .h2-title {
    color: $color-green-dark;
    padding: 2em 0 1em;
    font-style: normal;
    font-weight: bold;
  }
  form {
    width: 250px;
    margin: 3em auto 1em;
    display: flex;
    justify-content: center;
  }
  p {
    text-align: center;
    padding-bottom: 3em;
  }
  .uk-search-input {
    border: none;
    border-radius: 3px 0 0 0;
    border-bottom: 1px solid $color-green-regular;
    &::placeholder {
      color: $color-green-regular;
    }
  }
  .uk-search-icon-flip {
    background: $color-green-regular;
    border: none;
    border-radius: 0 3px 0 0;
    border-bottom: 1px solid $color-green-regular;
    width: 40px;
    color: $darkgrey;
    &:hover {
      color: $white;
      background: $color-green-dark;
    }
  }
  .diplom__show {
    margin: 2em auto 4em;
    @include mobiles {
      width: 480px;
    }
    @include tablets {
      width: 600px;
    }
    @include computers {
      width: 1000px;
    }
  }
  .diplom__show > .h3-title {
    color: $color-green-dark;
    padding: 2em 0;
  }
  .uk-grid {
    justify-content: center;
    margin: 0 auto;
  }
  .uk-grid > * {
    padding-left: 0;
  }
  .uk-card {
    border-bottom: 3px solid $color-green-dark;
    border-radius: 3px 3px 0 0;
    margin: 0.5em 2em;
    width: 200px;
  }
  .uk-card-header {
    border-radius: 3px 3px 0 0;
    height: 80px;
    position: relative;
    border-bottom: none;
    background: none;
  }
  .uk-border-circle {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .uk-card-body {
    height: auto;
    padding-left: 0.5em;
    padding-right: 0.5em;
    > * {
      text-align: center;
      font-size: $body-xs;
    }
    .h3-title {
      padding-top: 3em;
      text-align: center;
      text-transform: capitalize;
    }
    p {
      text-align: center;
      padding-bottom: 0;
    }
  }
  a {
    color: inherit;
    &:hover {
      color: black;
    }
  }
}
