// cover events
.events-cover {
  height: 280px;
  position: relative;
  margin: auto;
  @include tablets {
    height: 380px;
  }
  &__img {
    padding: 10px 0;
    height: 100%;
    background-color: $white;
    object-fit: contain;
    object-position: center;
    // filter: brightness(90%);
  }
}

// NAVBAR EVENTS
.navbar-events {
  @include flexbox;
  li a,
  .normal-link {
    border: 1px solid $grey;
    border-radius: 3px;
    color: $color-green-dark !important;
    background-color: $white;
    font-size: $body;
    margin: 1em auto;
    padding: 0.5em 2em;
    &:hover {
      color: $white !important;
      background-color: $color-green-dark;
      transition: ease-in $duration-medium;
    }
    @include tablets {
      padding: 0 !important;
      // margin: 0 !important;
      background: none;
      border: none;
      font-weight: bold;
      text-transform: uppercase !important;
      &:hover {
        color: $black !important;
        background-color: $white;
      }
    }
    &[aria-expanded="true"] {
      color: $black !important;
    }
  }
}

ul.navbar-events {
  margin: 0 auto;
  @include tablets {
    display: inline-flex;
  }
  li {
    padding-left: 0;
  }
  li + li {
    @include tablets {
      padding-left: 20px !important;
    }
  }
}

div.navbar-events {
  margin: 0 auto;
  @include tablets {
    display: inline;
    margin: 1em;
  }
}

.single-evento {
  text-align: center;
}