.palestrantes {
  padding: 4em;
  background: $grey;
  line-height: 1.5em;
  .rounded {
    border-radius: 50%;
  }
  .wrapper {
    margin: 0 auto;
    width: 80%;
    @include computers {
      width: 1100px;
    }
  }
  em {
    color: inherit;
    font-style: italic;
  }
  h2 {
    font-style: inherit;
    margin: 2em auto;
    width: 100%;
  }
  ul li {
    list-style-type: '– ';
  }
}
