// events : accordion "programaçao"
.events__layout {
  margin: 0 auto 2em !important;
  padding: 1em;
  width: 100%;
  background: $white;
  padding: 0.5em;
  @include computers {
    width: 75%;
  }
  li {
    padding: 20px;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    color: inherit;
    font-style: inherit;
    font-weight: inherit;
    text-transform: inherit;
  }
  strong {
    font-weight: bolder;
  }
  em {
    font-style: italic;
  }
  strong,
  em,
  p > span,
  p > strong,
  h4 > strong {
    color: inherit;
    text-transform: inherit;
  }

  .uk-accordion-title h2 {
    font-style: normal;
    font-weight: bold;
    line-height: 1.5em;
    padding: 0;
    margin: 0 auto;
    font-size: $body-xl;
    color: inherit;
    text-align: center;
    width: 100%;
    @include tablets {
      width: 60%;
    }
    @include computers {
      width: 450px;
    }
  }
  a {
    font-weight: bold;
    color: $color-green-regular;
    &:hover {
      color: $color-green-dark;
      font-weight: bold;
    }
  }

  h2.uk-title {
    font-style: inherit;
    margin: 2em auto;
    width: 100%;
    color: #006e78;
    font-size: 28px;
    font-weight: 200;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.3;
  }

  .uk-accordion-content {
    .full-content {
      display: flex;
      position: relative;
      width: 100%;
      max-width: 400px;
      margin: 4em auto;
      @include tablets {
        max-width: 500px;
      }
    }
    .right-content {
      border-left: 2px solid $white;
      margin-left: 0;
      padding-left: 25px;
      width: 100%;
      &-border {
        border-left: 2px solid $black;
      }
      @include tablets {
        padding-left: 100px;
      }
    }
    .start-hour,
    .end-hour {
      left: -50px;
      position: absolute;
      z-index: 10;
      color: black;
      background: white;
      padding: 0.2em 1.8em;
      font-size: 16px;
      font-weight: bold;
      top: -40px;
    }
    .end-hour {
      top: unset;
      bottom: -40px;
    }
    h2.subtitle,
    h3.subtitle {
      font-size: 12px;
      color: black;
      font-weight: bold;
      text-align: left;
      text-transform: capitalize;
      width: 100%;
    }
    h2.subtitle {
      font-size: 18px;
      color: $color-green-dark;
      text-transform: uppercase;
      @include mobiles {
        font-size: 22px;
      }
    }
    h3.subtitle::first-line {
      text-transform: uppercase;
      font-size: 16px;
    }
    .card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: 400px;
      background: $white;
      margin: 1em auto;
      padding: 1em;
      @include mobiles {
        width: 400px;
        flex-direction: row;
        justify-content: flex-start;
        margin: 1em 0;
      }
      &-image {
        height: 70px;
        width: 70px;
        border-radius: 2px;
        overflow: hidden;
        margin: 0 0.5em;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      &-text {
        color: $color-green-dark;
        font-weight: bold;
        text-align: center;
        padding: 1em 0 0;
        line-height: 1.3em;
        width: 220px;
        font-family: Quicksand, sans-serif !important;
        @include mobiles {
          padding: 1em 0;
        }
      }
      &-flag {
        margin: 0 0.5em;
        width: 50px;
        padding-top: 1em;
        @include mobiles {
          padding: 0;
        }
      }
    }
    .patrocinadores {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .patrocinador {
      width: 100px;
      margin-right: 2em;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
