// accordion e data/local
.events__layout {
  margin: 0 auto 2em !important;
  padding: 2em;
  width: 90%;
  background: $white;
  @include computers {
    width: 900px;
  }
  p {
    letter-spacing: unset;
    font-size: 1em;
    line-height: 1.2em;
  }
  a {
    font-weight: bold;
    color: $color-green-regular;
    &:hover {
      color: $color-green-dark;
      font-weight: bold;
    }
  }
}

// commissao organizadora
.events__comissao {
  margin: 0 auto;
  background: $color-green-dark;
  color: $white;
  padding: 4em;
  .h2-title {
    font-weight: 300;
    color: $white;
    margin: 0 auto;
    text-align: center;
  }
  &__text {
    margin: 4em auto 0;
    width: 90%;
    line-height: 30px;
    @include tablets {
      width: 700px;
      column-count: 2;
    }
    p {
      margin: 0;
      padding: 0;
    }
  }
  a {
    font-weight: bold;
    color: $color-green-regular;
  }
  span,
  strong,
  a:hover,
  h2,
  h3,
  h4 {
    font-weight: 300;
    color: $white;
  }
  a:hover,
  strong {
    font-weight: bold;
  }
}

// sobre o evento
.events__content {
  background: $white;
  color: inherit;
  margin: 0;
  padding: 0;
  .event__block {
    padding: 1em 2em 4em;
    width: 90%;
    margin: 0 auto;
    @include computers {
      width: 900px;
    }
    p,
    h2,
    h3,
    h4 {
      text-align: justify;
      padding-top: 2em;
      line-height: 20px;
      @include computers {
        width: 850px;
      }
    }
    h2,
    h3,
    h4 {
      text-align: center;
    }
    a {
      color: $color-green-regular;
    }
    span,
    h2,
    h3,
    h4,
    .h2-title {
      color: $color-green-dark;
    }
    a,
    a:hover,
    strong {
      font-weight: bold;
    }
    a:hover {
      color: $color-green-dark;
    }
    .h2-title {
      font-weight: 300;
      margin: 0 auto;
      text-align: center;
    }
  }
  img {
    object-fit: contain;
    padding: 1em 0 1.5em;
    width: 100%;
    height: 300px;
    @include tablets {
      height: 350px;
    }
  }
  &:nth-of-type(even) {
    background: $color-green-regular;
    color: $white;
    .event__block {
      a {
        color: $color-green-dark;
      }
      span,
      strong,
      a:hover,
      h2,
      h3,
      h4,
      .h2-title {
        color: $white;
      }
    }
  }
}

// inscriptions : informaçoes de pagamento + formulario de inscripçao
.inscriptions__content {
  margin: 2em auto;
  padding: 1em;
  width: 95%;
  @include computers {
    width: 70%;
    margin: 2em auto 4em;
  }
  img {
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    @include computers {
      width: 70%;
    }
    .h2-title {
      margin: 0 auto;
      text-align: center;
    }
  }
  .wp-block-image.is-resized {
    display: flex;
  }
}

// inscriptions : cursos
.events__cards {
  .uk-grid {
    margin: 4em auto;
  }
  .uk-card-default {
    width: 95%;
    height: auto;
    @include computers {
      width: 450px;
    }
    @include flexbox;
    align-items: flex-end;
    .h3-title {
      font-weight: 400;
      font-size: $body-xl;
      text-align: center;
      font-style: normal;
    }
    .uk-card-body {
      padding: 0;
      strong {
        font-weight: bold;
      }
    }
    p {
      margin: 0 auto;
      padding: 1em 0;
      font-weight: 300;
      font-size: $body;
    }
    em {
      color: inherit;
      font-style: italic;
    }
  }
}
