// cover events
.events-cover {
  height: 380px;
  position: relative;
  margin: auto;
  &__img {
    padding: 10px 0;
    height: 100%;
    background-color: $white;
    object-fit: contain;
    object-position: center;
    // filter: brightness(90%);
  }
}

// NAVBAR EVENTS
.navbar-events {
  @include flexbox;
  a {
    color: $color-green-dark !important;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase !important;
    @include tablets {
      margin-right: -0.5em;
    }
    &:hover {
      color: $black !important;
    }
    &[aria-expanded="true"] {
      color: $black !important;
    }
  }
}