// events : accordion "programaçao"
.events__layout {
  margin: 0 auto 2em !important;
  padding: 1em;
  width: 90%;
  background: $white;
  @include computers {
    width: 900px;
  }
  .rounded {
    border-radius: 50%;
  }
  strong {
    font-weight: 300;
  }
  em {
    font-style: italic;
    color: inherit;
  }
  .uk-accordion-title h2 {
    font-style: normal;
    font-weight: bold;
    line-height: 1.5em;
    padding: 0;
    margin: 0 auto;
    font-size: $body-xl;
    color: inherit;
    text-align: center;
    width: 100%;
    @include tablets {
      width: 60%;
    }
    @include computers {
      width: 450px;
    }
  }
  p {
    letter-spacing: unset;
    font-size: 1em;
    line-height: 1.2em;
  }
  a {
    font-weight: bold;
    color: $color-green-regular;
    &:hover {
      color: $color-green-dark;
      font-weight: bold;
    }
  }
  .uk-accordion-title::before {
    background-image: none;
    border-style: solid;
    border-width: 0.15em 0.15em 0 0;
    content: "";
    display: inline-block;
    height: 0.45em;
    left: -0.5em;
    position: relative;
    top: 0.45em;
    transform: rotate(45deg);
    vertical-align: middle;
    width: 0.45em;
  }
  .uk-open {
    .uk-accordion-title::before {
      background-image: none;
      border-style: solid;
      border-width: 0.15em 0.15em 0 0;
      content: "";
      display: inline-block;
      height: 0.45em;
      left: -0.5em;
      position: relative;
      top: 0.23em;
      transform: rotate(135deg);
      vertical-align: middle;
      width: 0.45em;
    }
  }
}