.guidelines{
    align-items: center;
    p{
           line-height: 1.7em;
    }
 
 img{
     border: solid $black 1px;
     min-width: 150px;
 }
}

/* guideline link */
.uk-link-toggle:hover .uk-link-heading{
    color: $color-green-dark;
    text-decoration: none;
}