.page-membros {
  margin: auto;
  line-height: 22px;
  padding: 2em;
  max-width:100%;
  // background: $grey;
  color: $black;
  &__header {
    display: flex;
    justify-content: space-between;
    margin: 40px;
    color: black;
    font-weight: 600;
    a {
      color: black;
    }
    span {
      color: grey;
      stroke-width: 2px;
    }
  }
  h2 {
    margin: 0 0 20px 0;
    color: #333;
    font-weight: 600;
  }
  hr {
    max-width: 500px;
    border: 2px solid $color-green-dark;
    margin: auto;
  }
  .uk-width-xlarge {
    width: 900px;
  }
}

/* sidenav-members */

.members-sidenav {
  @media (min-width: 1400px) {
    width: 240px;
    margin-top: 200px;
  }
  li {
    padding: 10px;
    border: solid 1px $grey;
    a {
      text-align: center;
      font-weight: 600;
      text-transform: uppercase;
    }
 
  }
}

.sair-icon{
  display: flex;
  justify-content: flex-end;
  position: relative;
  color: black;
  font-weight: 600;
  height: 40px;
  @media (min-width: 960px) {
    left: 180px;
    top: 80px;
  }
  a {
    color: black;
  }
  span {
    color: grey;
    stroke-width: 2px;
  }
}