.page-membros {
  margin: auto;
  padding: 2em;
  max-width: 1550px;
  background: $grey;
  &__header {
    display: flex;
    justify-content: space-between;
    color: black;
    font-weight: 600;
    a {
      color: black;
    }
    span {
      color: grey;
      stroke-width: 2px;
    }
  }
  h1 {
    font-weight: 600;
  }
  hr {
    max-width: 500px;
    border: 1px solid $color-green-dark;
    margin: auto;
  }
}

.bw-videos {
  overflow: hidden;
  max-width: 980px;
  margin: 50px auto !important;
  .uk-card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3 {
      text-align: center;
      color: $black;
      font-weight: 600;
      font-style: normal;
    }
    a {
      font-size: 1.2em;
      margin: 2em auto;
      color: $color-green-dark;
      &:hover {
        color: $color-green-regular;
      }
    }
  }
}
