.ref-nacionais,
.ref-internacionais {
  margin: 3em auto;
  max-width: 1000px;
  h2 {
    margin-bottom: 2em;
  }
  &__card {
    width: 400px;
    height: 180px;
    margin: 0 2em;
    a {
      margin: 0 auto;
      img {
        width: 150px;
        @include tablets {
          width: 200px;
        }
      }
    }
  }
}
