// PAGE SHOP
.woocommerce-shop.woocommerce-page {
  .woocommerce ul.products {
    display: flex;
    flex-direction: column;
    margin-bottom: 5em;
    // green line
    &:first-of-type {
      background: $color-green-dark;
      width: 95%;
      border-radius: 5px 5px 0 0;
      margin: 5em auto 0;
      @include computers {
        max-width: 800px;
      }
      li.product {
        width: 100%;
        margin-left: 0;
        @include computers {
          max-width: 690px;
        }
      }
    }
    li.product {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      float: unset;
      margin: 0 auto;
      width: 100%;
      border-bottom: 1px solid #707070;
      padding: 1.5em 2em;
      @include computers {
        flex-direction: row;
        max-width: 800px;
      }
      &:first-child:not(.purchasable) {
        // green line
        padding: 0.7em 2em;
      }
      a:first-child {
        flex-direction: column;
        margin-bottom: 1em;
        @include computers {
          flex-direction: row;
          margin-bottom: 0;
        }
        h2 {
          padding: 1em 0;
          @include computers {
            padding: 0.5em 0;
          }
        }
      }
      a:first-child,
      div:first-child {
        // div -> green line
        margin-right: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        @include computers {
          margin-right: 2em;
          width: 70%;
          justify-content: space-between;
        }
      }
      div:first-child {
        // green line
        font-size: 16px;
        color: white;
        text-transform: uppercase;
      }
      h2 {
        font-size: 16px;
        color: $black;
      }
      .price {
        font-size: 16px;
        margin: 0 4em;
        color: $black;
      }
      .button {
        margin: 0;
      }
    }
  }
}

// PAGE SINGLE PRODUCT
.single-product.woocommerce-page {
  .article-cover,
  .wc-tabs {
    display: none;
  }
  div.product div.summary {
    width: 50%;
  }
  .woocommerce-products-header__title {
    float: left;
    width: 50%;
    padding: 0 0.5em;
  }
  .blog__content {
    box-shadow: none;
  }
}

// PAGE MY-ACCOUNT
// LOGGED IN
.woocommerce-account.woocommerce-page {
  .woocommerce {
    margin: 15em auto;
    max-width: 1500px;
  }
  // left nav
  .woocommerce-MyAccount-navigation {
    .woocommerce-MyAccount-navigation-link--title {
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 600;
      color: $color-green-dark;
    }
    .woocommerce-MyAccount-navigation-link {
      width: 220px;
      padding: 0.5em;
      font-size: 16px;
      &.is-active {
        background: $color-green-regular;
        border-radius: 5px;
        a {
          color: white;
        }
      }
      a {
        color: #666;
      }
    }
  }
  // right content
  .woocommerce-MyAccount-content {
    padding: 1.5em;
    p {
      // height: 50px;
      border-radius: 0 !important;
      align-self: center;
      // padding: 1.2em !important;
    }
    a:not(.button) {
      padding: 2px;
    }
    a.button {
      padding: 2px;
      @include computers {
        margin: 0 0.5em;
        padding: 0.618em 1.3em;
      }
    }
  }
  form.edit-account .form-row input.input-text {
    margin-bottom: 3px;
  }
  .woocommerce table.my_account_orders td,
  .woocommerce table.my_account_orders th {
    height: 60px;
  }
}

// MY-ACCOUNT NOT LOGGED IN
/*
.woocommerce form.login {
  max-width: 500px;
  margin: 2em auto;
  border: 1px solid $black;
  color: $black;
  font-weight: 700;
  padding: 65px;
  .woocommerce-form-login__submit {
    width: 100%;
    height: 35px;
  }
}*/
.woocommerce form .form-row {
  width: 100% !important;
}
.woocommerce-account .woocommerce #customer_login {
  display: flex;
  justify-content: center;
}

// MY-ACCOUNT LOST PASSWORD
.woocommerce form.lost_reset_password {
  max-width: 670px;
  margin: 2em auto;
  text-align: center;
  font-weight: 700;
  color: $black;
  padding: 40px;
  .form-row-first {
    margin: 0 auto 1em;
    float: unset;
    width: 300px;
  }
  p {
    padding: 10px;
    font-size: 17px;
  }
}

// PAGE CART
/*
.woocommerce-cart.woocommerce-page {
  .woocommerce {
    max-width: 1200px;
    margin: auto;
    text-align: center;
  }
  .woocommerce-cart-form {
    margin: 2em auto;
    width: 90%;
    @include computers {
      float: left;
      margin: 2em;
    }
    table {
      border: none;
      border-radius: 0;
      overflow: hidden;
      width: 100%;
      @include computers {
        width: 680px;
      }
    }
    table thead tr {
      background: $color-green-dark;
      padding: 0.7em 2em;
      color: white;
      font-size: 16px;
      text-transform: uppercase;
      height: 60px;
      th {
        font-weight: normal;
      }
    }
    table .product-thumbnail {
      display: none;
    }
    table .button {
      //height: 40px;
      padding: 0.718em 1.3em;
      font-size: 12px;
      &:hover {
        color: #515151 !important;
      }
    }
    table a {
      color: $black;
    }
    table .product-quantity {
      text-align: center;
    }
    table tbody td {
      color: $black;
      height: 60px;
      padding: 18px 12px;
    }
    td.actions .button {
      float: right;
      width: auto;
    }
  }
  .cart_totals {
    margin: 2em;
    width: 400px;
    align-self: center;
    // old
    //margin: 2em auto;
    //  width: 90%;
    //  float: unset;
    //  @include computers {
    //    margin: 2em;
    //    width: 400px;
    //    float: right;
    //  }

    h2 {
      background: $color-green-dark;
      padding: 1.2em 2em;
      color: white;
      font-size: 16px;
      text-transform: uppercase;
      border-radius: 0;
      height: 60px;
    }
    table {
      border: none;
    }
    table td {
      text-align: right;
      color: $black;
      height: 60px;
      padding: 18px 12px;
    }
    table th {
      color: $black;
      height: 60px;
      padding: 18px 12px;
    }
  }
  .wc-proceed-to-checkout {
    padding: 0;
    a.checkout-button {
      display: inline-flex;
      font-size: 12px;
      background-color: $color-green-dark;
      float: right;
      padding: 0.718em 1.3em;
      &:hover {
        background-color: #dfdcde;
        color: #515151 !important;
      }
    }
  }
}
*/

// PAGE CHECKOUT
.woocommerce-checkout.woocommerce-page {
  .woocommerce {
    max-width: 1200px;
    margin: 5em auto;
    .col2-set .col-1,
    .col2-set .col-2 {
      width: 90%;
      max-width: 500px;
      margin: auto;
      @include computers {
        width: 50%;
        max-width: unset;
      }
    }
    .col2-set .col-1 {
      float: unset;
      @include computers {
        float: left;
      }
    }
    .col2-set .col-2 {
      float: unset;
      @include computers {
        float: right;
      }
    }
    h3 {
      text-align: center;
      text-transform: uppercase;
      color: white;
      background: $color-green-dark;
      padding: 0.7em 2em;
      border-radius: 0;
      font-size: 20px;
      font-weight: 600;
      @include computers {
        border-radius: 0;
      }
    }
    h3#order_review_heading {
      @include computers {
        border-radius: 0;
      }
    }
    form.woocommerce-checkout {
      .woocommerce-billing-fields__field-wrapper {
        padding: 0.5em !important;
        display: flex;
        flex-flow: row wrap;
      }
      label {
        color: $black;
      }
      .form-row:not(.place-order) {
        width: 100%;
        @include computers {
          width: 50% !important;
        }
      }
      .form-row#billing_cpf_field,
      .form-row#billing_city_field {
        @include computers {
          width: 100% !important;
        }
      }
      .form-row select {
        height: 35px;
      }
      .form-row.place-order {
        width: 100%;
        text-align: center;
      }
      .form-row input.input-text {
        background: $white;
        border: solid 1px #dbdbdb;
        height: 40px;
      }
      .select2-container--default .select2-selection--single {
        background: #dbdbdb;
        color: black;
      }
      .select2-selection__placeholder {
        color: rgb(70, 70, 70);
      }
      .create-account {
        padding: 0.1em;
      }
    }
    .wpmc-nav-wrapper {
      width: 100% !important;
      padding: 2em;
      margin: auto;
      button {
        background-color: $color-green-dark;
        height: 35px;
      }
    }
    #order_review {
      padding: 4em 2em;
    }
    #payment #place_order {
      float: unset;
      background: $color-green-dark;
      height: 40px;
      &:hover {
        background-color: #dfdcde;
        color: #515151 !important;
      }
    }
    #payment .form-row {
      width: 100%;
    }
    table {
      //border: none;
      thead,
      tfoot {
        background: $white;
        border: solid 1px #dbdbdb;
        height: 50px !important;
      }
      th,
      tr {
        color: $black;
        height: 50px !important;
      }
    }
    .woocommerce-privacy-policy-text {
      line-height: 20px;
      text-align: left;
    }
  }
  //pagseguro
  .woocommerce-checkout-payment {
    background: none !important;
    .payment_box {
      background-color: $grey !important;
      &::before {
        border: 1em solid $grey !important;
        border-right-color: transparent !important;
        border-left-color: transparent !important;
        border-top-color: transparent !important;
      }
    }
  }
}

/* 
*Page order-received
*/
.woocommerce-order-received {
  .woocommerce-notice {
    color: $color-green-dark;
  }
  .woocommerce-order-overview {
    color: $black;
  }
  .woocommerce-message {
    color: $black;
    line-height: 25px;
    border-top-color: $black;
    &::before {
      color: $black;
    }
  }
  .woocommerce-customer-details address {
    line-height: 25px;
    font-weight: 700;
    color: $black;
  }
}

.woocommerce .blockUI.blockOverlay:before,
.woocommerce .loader:before {
  // background: url('../woocommerce/assets/images/icons/custom-loader.svg');
  background: url("/Wordpress/Brasos/content/themes/brasos/woocommerce/assets/images/icons/custom-loader.svg") !important;
}

// EVERY PAGE
.woocommerce button.button,
.woocommerce a.button {
  font-weight: normal;
  font-size: 12px;
  background-color: $color-green-dark;
  color: white !important;
  text-transform: uppercase;
  padding: 0.718em 1.3em;
  &:hover {
    color: #515151 !important;
  }
}
.woocommerce a {
  color: $black;
  font-weight: bold;
}
.woocommerce * {
  font-family: inherit;
}
.woocommerce form .form-row input.input-text {
  height: 35px;
}
#custom-breadcrumbs {
  margin: 3em auto 1em;
  text-align: center;
  width: 100%;
  max-width: 1200px;
  font-size: 30px;
  text-transform: uppercase;
  span {
    font-size: 15px;
    width: 150px;
    display: inline-block;
    border-bottom: 1px solid #888;
    padding-bottom: 5px;
    margin: 30px -15px 25px;
  }
  span a {
    color: #888;
    font-weight: 300;
  }
  span.active {
    border-bottom: 2px solid $color-green-dark;
    a {
      color: $color-green-dark;
      font-weight: bold;
    }
  }
}

.woocommerce-info {
  border-top-color: $black !important;
  margin: 120px auto !important;
  &::before {
    color: $black;
  }
}

.woocommerce .coupon {
  input {
    width: 200px !important;
  }
}

.account-access {
  font-size: 14px;
  padding: 10px;
  // margin: 50px auto;
  margin: 100px 50px;
  justify-content: left;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-transform: initial;
  @include tablets {
    justify-content: space-between;
  }
  a {
    margin: 10px !important;
    display: flex;
    width: 140px;
    justify-content: center;
    align-items: center;
    &:hover {
      color: $darkgrey;
    }
    div {
      padding-right: 0.5em;
    }
  }
  @include computers {
    // max-width: 500px;
  }
}
