// PAGE SHOP
.woocommerce-shop.woocommerce-page {
  .woocommerce ul.products {
    display: flex;
    flex-direction: column;
    margin-bottom: 5em;
    // green line
    &:first-of-type {
      background: $color-green-dark;
      width: 800px;
      border-radius: 5px 5px 0 0;
      margin: 5em auto 0;
      li.product {
        width: 690px;
        margin-left: 0;
      }
    }
    li.product {
      display: flex;
      align-items: center;
      justify-content: space-between;
      float: unset;
      margin: 0 auto;
      width: 800px;
      border-bottom: 1px solid #707070;
      padding: 1.5em 2em;
      &:first-child:not(.purchasable) { // green line
        padding: 0.7em 2em;
      }
      a:first-child,
      div:first-child { // div -> green line
        margin-right: 2em;
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      div:first-child { // green line
        font-size: 16px;
        color: white;
        text-transform: uppercase;
      }
      h2 {
        font-size: 16px;
      }
      .price {
        font-size: 16px;
        margin: 0 4em;
        color: $color-green-dark;
      }
      .button {
        font-weight: normal;
        font-size: 12px;
        margin: 0;
        background-color: $color-green-dark;
        color: white;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .618em 1.3em;
        &::after {
          right: 3px;
        }
      }
    }
  }
}

// PAGE SINGLE PRODUCT
.single-product.woocommerce-page {
  .article-cover,
  .wc-tabs {
    display: none;
  }
  div.product div.summary {
    width: 50%;
  }
  .woocommerce-products-header__title {
    float: left;
    width: 50%;
    padding: 0 0.5em;
  }
  .blog__content {
    box-shadow: none;
  }
}

// PAGE MY-ACCOUNT
// LOGGED IN
.woocommerce-account.woocommerce-page {
  .woocommerce {
    margin: 3em auto;
    max-width: 1500px;
  }
  // left nav
  .woocommerce-MyAccount-navigation {
    .woocommerce-MyAccount-navigation-link--title {
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 600;
      color: $color-green-dark;
    }
    .woocommerce-MyAccount-navigation-link {
      width: 235px;
      padding: 0.5em;
      font-size: 16px;
      &.is-active {
        background: $color-green-regular;
        border-radius: 5px;
        a {
          color: #ccc;
        }
      }
      a {
        color: #666;
      }
    }
  }
  // right content
  .woocommerce-MyAccount-content {
    padding: 1em;
  }
  form.edit-account .form-row input.input-text {
    height: 35px;
    margin-bottom: 3px;
  }
}

// NOT LOGGED IN
.woocommerce form.login {
  max-width: 500px;
  margin: 2em auto;
  border: 1px solid $color-green-dark;
  .form-row input.input-text {
    height: 35px;
  }
}

// LOST PASSWORD
.woocommerce form.lost_reset_password {
  max-width: 500px;
  margin: 2em auto;
  text-align: center;
  .form-row-first {
    margin: 0 auto 1em;
    float: unset;
    width: 300px;
  }
}
