//@mixin hook-card() { color: #000; }

// mobiles landscape
@mixin mobiles {
    @media (min-width : 481px) {
        @content;
    }
}
// tablets portrait + landscape
@mixin tablets {
    @media (min-width: 768px) {
        @content;
    }
}
// laptops and desktops
@mixin computers {
    @media (min-width : 1025px) {
        @content;
    }
}
// high resolutin screens
@mixin large-screens {
    @media (min-width : 1281px) {
        @content;
    }
}

 // 2K (2560*1440)
@mixin TwoK {
    // @media (min-width : 2560px) {
        @media (min-width : 2000px) {
        @content;
    }
}
// UltraHD (3840*2160)
@mixin UltraHD {
    @media (min-width : 3840px) {
        @content;
    }
}
// 4K (4096*2160)
@mixin FourK {
    @media (min-width : 4096px) {
        @content;
    }
}

// FLEXBOX
@mixin flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    @include tablets {
      flex-flow: row wrap;
    }
  }