$body-font-regular: 'Roboto';
$body-font-italic: 'Roboto' italic;
$color-green-dark: #006e78;
$color-green-regular: /*rgba(0, 110, 120, 0.849)*/ #6DA0A5;
$white: #fff;
$grey:#F3F3F3;

$duration-medium: 0.2s;

// fonts
$body: 14px;
$body-xs: 12px;
$headline: 24px;
$heading: 20px;
$subheading: 16px;