$body-font-regular: "Roboto";
$body-font-italic: "Roboto" italic;
$color-green-dark: #006e78;
$color-green-regular: #6da0a5;
$white: #fff;
$grey: #f3f3f3;

$duration-medium: 0.2s;

// fonts
$body: 14px;
$body-xs: 12px;
$headline: 24px;
$heading: 20px;
$subheading: 16px;
